<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>MinimumOSVersion</key>
    <string>17.0</string>
    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
    </array>
    <key>UISceneManifest</key>
    <dict>
        <key>UIApplicationSceneManifest</key>
        <dict>
            <key>UIIsMultiwindowEnabled</key>
            <false/>
            <key>UISceneConfigurations</key>
            <dict>
                <key>UIWindowSceneConfigurations</key>
                <array>
                    <dict>
                        <key>UISceneName</key>
                        <string>Default Configuration</string>
                        <key>UISceneDefaultConfiguration</key>
                        <true/>
                    </dict>
                </array>
            </dict>
        </dict>
    </dict>
    <key>UISupportsFullScreenWidgets</key>
    <true/>
</dict>
</plist>
